# Графический интерфейс и визуал
PyQt6>=6.6.0
Pillow>=10.0.0
pyautogui>=0.9.54
qrcode>=7.4.2

# Нейросети, распознавание и синтез речи
torch>=2.1.0
vosk>=0.3.45
transformers>=4.35.0
optimum[onnxruntime]>=1.14.0
onnxruntime>=1.16.0
rapidocr_onnxruntime>=1.3.0
mediapipe>=0.10.0
face_recognition>=1.3.0
librosa>=0.10.0

# Звук и мультимедиа
sounddevice>=0.4.6
soundfile>=0.12.1
soundcard>=0.4.6
scipy>=1.11.0
numpy>=1.24.0
python-vlc>=3.0.20123

# Системные модули Windows
psutil>=5.9.0
pycaw>=20230407
comtypes>=1.2.0

# Документы и парсинг
python-docx>=1.1.0
pypdf>=4.0.0

# Сеть, бот и API интеграции
requests>=2.31.0
aiogram>=3.3.0
gigachat>=0.1.30
spotipy>=2.23.0
yandex-music>=2.1.1
google-api-python-client>=2.100.0
google-auth-oauthlib>=1.1.0